@charset "utf-8";

body {
	display: flex;
	background-color:#908B88;
}

.container {
	flex-basis:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	background-color:#ECE8E6;
	padding:10px;
	border-radius: 2em;
	margin-bottom:10px;
}

.topPart {
	display:flex;
	justify-content:center;
}

.leftCol {
	flex:1;
}

.rightCol {
	flex:1;
	display:flex;
	align-items:center;
	justify-content:center;
}

.multiHeadphonesImg {
	flex-basis:10%;
}

.featureRow {
	display:flex;
}

.featureBox {
	flex:1;
	background-color:#FF8C8B;
	margin-left:5px;
	margin-right:5px;
	border-radius: 2em;
	margin:5px;
	text-align:center;
	padding:5px;
}
